.home-container{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-color: rgba(205, 32, 221, 0.377);
    width: 81vw;
    min-height: 144vh;
    border-radius: 1rem;
    margin-left: -1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loader{
    display: flex;
    flex-direction: column;
    margin: 15% 40%;
    justify-content: center;
    align-items: center;
    
}

.loader p{
    margin-top:-2rem;
    color: antiquewhite;
    font-size: 2rem;
}
.home-title{
    display: flex;
    align-self: center;
    margin-top: 1rem;
    border-bottom: 2px solid black;
}

.all-cards-container{
    display: flex;
    gap: 2.1rem;
    width: 78vw;
    flex-wrap: wrap;
}

.no-data{
    /* color: red; */
    display: flex;
    border-bottom: 2px solid red;
    margin: 15rem auto;
    font-size: 3rem;
}

.card-container{
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    background-color: rgba(116, 116, 116, 0.329);
    box-shadow: rgba(41, 40, 40, 0.185) .2rem .25rem;
    margin-top: 2rem;
}

.card-container:hover {
    transform:scale(1.05, 1.05);
    transition: .3s;

}

.card-links{
    display: flex;
    gap: 9rem;
}

.link-icon{
    text-decoration: none;
    cursor: pointer;
}

.link-icon:hover{
    background-color: rgba(206, 6, 156, 0.295);
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    transition: .4s;
}



.card-link{
    color: white;    
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color:black;
}


.card-img{
    width: 230px;
    height: 200px;
    padding-top: .1rem;
    border-top-left-radius: 1.8rem;
    border-top-right-radius: 1.8rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-top: .2rem;
    margin-left: .1rem;


}

.page-container{
    align-self: center;
    margin-top: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    display: flex;
}

.disabled{
    display: hidden;
}