.detail-container-all{
    background-image: url(../../assets/background.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.detail-container{
    background-color: rgba(218, 126, 141, 0.596);
    border-radius: 2rem;
    display: flex;
    width: 95vw;
    height: 95vh;
    justify-content: space-between;
}

.detail-container-inside{
    width: 100%;
    border-radius: 2rem;
    display: flex;
}

.detail-img-info-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
}


.detail-img-info1{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    /* gap: 10rem; */
    background: rgb(207,58,206);
    background: linear-gradient(90deg, rgba(207,58,206,0.7483368347338936) 0%, rgba(238,92,238,0.5634628851540616) 35%, rgba(217,59,200,0.3757878151260504) 79%, rgba(218,218,81,0) 100%);
    width:100%;

}

.detail-info1{
    display: flex;
    width:50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-size: 1.2rem;
    margin-left: .5rem; 
}
.detail-info1 p{
    font-weight: 600;
}

.detail-img-info2{
    display: flex;
    justify-content: space-between;
    border-top-right-radius:.5rem ;
    border-bottom-right-radius:.5rem ;
    background: rgb(207,58,206);
    background: linear-gradient(90deg, rgba(207,58,206,0) 0%, rgba(229,242,0,0.3617822128851541) 35%, rgba(218,218,81,0.773546918767507) 79%, rgba(218,218,81,0.7539390756302521) 100%);
    width:100%;
}

.detail-info2{
    display: flex;
    width:60%;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin-left: .5rem;    
}

.detail-info2 p{
    font-weight: 600;
}
.detail-title-price-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-left: 2px solid rgba(255, 0, 0, 0.116);;
    gap: 5rem;
    font-size: 2rem;
    padding-left: .2rem;
  
}
.detail-title-price-container p{
    font-weight: 700;
}

.no-price{
    margin-left: .2rem;
}

.detail-icon{
    color: rgb(199, 54, 54);
}

.detail-img1{
    width: 280px;
    height: 230px;
    border-radius: 2rem;
    margin-left: .5rem;
    /* object-fit: ; */

} 

.detail-img2{
    width: 280px;
    height: 230px;
    border-radius: 2rem;
    margin-right: .5rem;

} 

.detail-img1:hover{
    transform: scale(1.05);
    transition: .4s;
}

.detail-img2:hover{
    transform: scale(1.05);
    transition: .4s;
}


.img-info-container-all{
    width:50%;
    height: 100;
    background-color: red;
    gap: 1rem;
}

.img-info-container1{
    display: flex;
    margin-left: 2rem;
    justify-content: space-around;
    gap: 10rem;
}

.img-info-container2{
    display: flex;
    margin-left: 2rem;
    justify-content: space-around;
    gap: 5rem;
}

