.detail-container-all{
    background-image:url('../../assets/background.jpg') ;
    height: 90vh;
    padding-bottom: 1.5rem;
    padding-top: 7.6rem;
    display: flex;
    justify-content: center;

}
.detail-container{
    display: flex;
    gap: .1rem;
    border-radius: 1rem;
    border: 2px solid rgb(255, 255, 255);
    width: 90%;
    height: 100%;
    margin-bottom: 1rem;
}

.detail-imgs-container{
    width: 50%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.detail-img{
    width: 100%;
    object-fit:contain;
    height: 24.3rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;

}

.detail-info-container{
    background-color: rgba(243, 174, 174, 0.726);
    width: 51%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail-info-title{
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    border-bottom: 2px solid rgb(255, 221, 31);
}

.detail-info{
    font-size: 1.2rem;
    margin-left: 1rem;
}

.detail-info-price{
    display: flex;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
}
