.detail-container-all{
    background-color: red;
    height: 90vh;
    padding-bottom: 1.5rem;
    padding-top: 8.5rem;
    display: flex;
    justify-content: center;
}
.detail-container{
    background-color: aqua;
    width: 98%;
    height: 100%;
    margin-bottom: 1rem;
}